allure-pytest==2.8.16
allure-python-commons==2.8.16
atomicwrites==1.4.0
attrs==19.3.0
behave==1.2.6
certifi==2020.6.20
chardet==3.0.4
colorama==0.4.3
extras==1.0.0
fixtures==3.0.0
fuzzywuzzy==0.18.0
helpers==0.2.0
idna==2.10
lettuce==0.2.23
linecache2==1.0.0
mock==4.0.2
more-itertools==8.4.0
packaging==20.4
parse==1.15.0
parse-type==0.5.2
pbr==5.4.5
pluggy==0.13.1
py==1.10.0
PyHamcrest==2.0.2
pyparsing==2.4.7
pytest==5.4.3
python-mimeparse==1.6.0
python-subunit==1.4.0
requests==2.24.0
selenium==3.141.0
six==1.15.0
sure==1.4.11
tests==0.7
testtools==2.4.0
traceback2==1.4.0
unittest2==1.1.0
urllib3==1.25.9
wcwidth==0.2.5
xmlrunner==1.7.7
